/* AddMembership.css */

.AddMembership-body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.wallpapersafari.com/40/93/9Q5TyW.jpg");
    /* background-repeat: no-repeat; */
    /* background-image: url("http://wallpapercave.com/wp/IlpLRYK.jpg"); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: backgroundAnimation 5s infinite alternate;
}

/* @keyframes backgroundAnimation {
    0% {
        background: linear-gradient(to right, #FFA500, #1E90FF);
    }
    100% {
        background: linear-gradient(to right, #1E90FF, #FFA500);
    }
} */

.AddMembership-heading {
    text-align: center;
    color: #f4f0f0;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeInDown 0.8s ease-in-out;
}

.AddMembership-container {
    width: 60%;
    background: rgba(206, 153, 113, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeInUp 0.8s ease-in-out, boxShadowAnimation 3s infinite alternate;
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 8px 50px rgba(0, 0, 0, 0.5);
    }
}

.AddMembership-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.AddMembership-listItem {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.AddMembership-listItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.AddMembership-listItem p {
    margin: 0;
    color: #333;
}

.AddMembership-listItem strong {
    color: #000;
}

.AddMembership-button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #342e24, #7a8189);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    font-size: 16px;
    align-self: flex-start;
}

.AddMembership-button:hover {
    background: linear-gradient(135deg, #c7ccd0, #8b8780);
    box-shadow: 0 4px 15px rgba(30, 144, 255, 0.3);
    transform: translateY(-3px);
}

.AddMembership-button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.5);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
