.AdminHome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url("https://i.pinimg.com/originals/44/99/54/4499543a663da918ff3ef755d1b6339c.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.AdminHome-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.AdminHome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AdminHome-swiper {
  width: 90%;
  height: 70%;
  margin-top: 20px;
}

.AdminHome-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 100%;
  height: 100%;
}

.AdminHome-slideText {
  text-align: center;
}

.AdminHome-slideHeading {
  font-size: 2em;
  margin-bottom: 10px;
}

.AdminHome-slideDescription {
  font-size: 1.2em;
}

.AdminHome-footer {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}
