/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #ecf0f3; */
}

.CheckOut-background {
    background-image: url("https://i.pinimg.com/originals/a5/ad/58/a5ad58d71cb993cd0189d018daf97534.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.CheckOut-container {
    max-width: 300px;
    min-height: 400px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 13px;
    box-shadow: 10px 11px 10px #cbced1, -13px -13px 20px #fff;
    animation: fadeIn 0.6s ease-in-out;
}

.CheckOut-header {
    font-size: 2rem;
    color: #6a32a8;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    animation: slideInDown 0.6s ease-in-out;
}

.CheckOut-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.CheckOut-label {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
    margin-bottom: 10px;
    align-self: flex-start;
}

.CheckOut-input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.CheckOut-form-field {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.CheckOut-form-field:hover {
    box-shadow: inset 10px 10px 10px #cbced1, inset -10px -10px 10px #fff;
}

.CheckOut-button {
    width: 100%;
    height: 45px;
    background-color: #32a852;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-weight: 600;
}

.CheckOut-button:hover {
    background-color: #039BE5;
    transform: translateY(-3px);
}

.CheckOut-message {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

@media (max-width: 380px) {
    .CheckOut-container {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}
