.MemberNavbar-container {
    background-color: #283e4a; /* Dark background color */
    padding: 20px 20px;
    border-bottom: 4px solid #1c2e3b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Center the navbar within the parent */
    height: 65px;
    
}

.MemberNavbar-nav {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.MemberNavbar-left {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.MemberNavbar-right {
    display: flex;
    justify-content: center;
    flex: 1;
}

.MemberNavbar-link {
    margin: 0 15px; 
    text-decoration: none;
    color: #ffffff; /* White color for links */
    font-weight: bold;
    font-size: 18px; /* Increase font size for better readability */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth color transition */
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: monospace;

}

.MemberNavbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f39c12; /* Red color for underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.MemberNavbar-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.MemberNavbar-link:hover {
    color:  #f39c12; /* Change color on hover for better interactivity */
    transform: scale(1.05);
}

.MemberNavbar-icon {
    margin-right: 8px; /* Space between icon and text */
    font-size: 20px; /* Adjust icon size */
}

@media (max-width: 768px) {
    .MemberNavbar-nav {
        flex-direction: column;
        gap: 15px;
    }
}
